@import '@ui/styles/tailwind.css';
/* @source Tailwind가 이 경로의 클래스를 스캔해 UI 패키지 스타일을 생성합니다 */
@source '@ui';

@theme {
  --color-gray-100: var(--colors-red-100);
  --color-gray-200: var(--colors-red-200);
  --color-gray-300: var(--colors-red-300);
  --color-gray-400: var(--colors-red-400);
  --color-gray-500: var(--colors-red-500);
  --color-gray-600: var(--colors-red-600);
  --color-gray-700: var(--colors-red-700);
  --color-gray-800: var(--colors-red-800);
  --color-gray-900: var(--colors-red-900);
  --spacing-test-md: var(--dimension-md);
  --spacing-test-xl: var(--dimension-xl);
}
